<div class="jumbotron">
  <h1>Workout Lounge!</h1>
  <p>Show off your workout</p>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <h2>List of Members</h2>
    <%= will_paginate @atheletes, render: BootstrapPagination::Rails, class: "pull-left paginate" %>
  </div>
</div>
<div class="row">
  <% @atheletes.each do |athelete|%>
    <div class="col-md-10 col-md-offset-1 well member">
      <%= athelete.full_name %>
      <%if current_user%>
      <%= link_to "Follow", friendships_path(friend_id: athelete.id), method: :post, class:'btn btn-success pull-right' unless current_user.follows_or_same?(athelete) %>
      <% end %>
    </div>
  <% end %>

</div>
